/*Author: Guiyu (Zoey) Zhao
Created: 6/27/2017*/

html, body, .container {
  width: 100%;
  overflow-x: hidden;
}

body {
  color: white;
  background-color: #333333;
}

.hero-image {
  background-image: url("../images/crystal-ball.jpg");
  background-color: black; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

main {
  width: 500px;
  margin-left: calc(50% - 250px);
  margin-top: 50px;
  background-color: white !important;
}

